/* Estilo para a lista de navegação reset */
.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Estilo para os itens de navegação */
.nav-item {
    margin-right: 20px;
    /* Espaçamento entre os itens */
    padding: 15px;
}

a.dropdown-item:hover {
    color: #000000;
    /* Cor do texto */
    background-color: #08c7d8;
    /* Cor de fundo */
    border-radius: 5px;
    /* Borda arredondada */
    max-width: 100%;
}

@media (min-width: 992px) {
    .team-description {
        height: 250px; 

    }
}







